.body{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 2rem 0;
}
.homeLink{
    text-decoration: none;
    font-size: 1.5rem;
}
.contactLinks{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media only screen and (min-width: 641px){
    .header{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}