.body{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    position: relative;
    font-family: 'Roboto', 'sans-serif'
}
.footer{
    text-align: center;
    margin: 2rem 0 1rem 0;
}
.footer hr{
    color: #CB91B7;
    border-color: inherit;
}
.footer p{
    margin-top: 1rem;
}